/* || General setup */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #fcfcfc;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}


/* || typography */

h1,
h2,
h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
}

p,
input,
li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.5;
}


/* || header layout */

header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

body>* {
    background-color: #fcfcfc;
    padding: 1%;
}

main,
header,
nav,
article,
aside,
footer,
section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2%;
}

h1 {
    flex: 5;
    text-transform: uppercase;
}

header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
    margin-right: 20px;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a,
nav span {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.507);
    color: rgb(92, 90, 90);
}

nav .active-link {
    border-bottom: 2px solid black;
}


/* || main layout */

main {
    display: flex;
}

article,
section {
    flex: 4;
}

aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.315);
}

aside a {
    display: block;
    float: left;
    width: 50%;
}

aside img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    margin-top: 10px;
}